.section-map {
  padding: 6rem 0;
}

.section-data-filter {
  padding: 6rem 0;
}

.section-year-marker {
  padding: 6rem 0 10rem;
}

.section-population-data {
  padding: 3rem 13rem 0;
}

.section-election-details {
  padding: 3rem 13rem 6rem;
}
