.article-methodology {
  padding: 6rem 0;
  p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
    margin-top: 0.7rem;
    font-weight: 300;
  }
  &__img {
    display: block;
    height: auto;
    margin-bottom: 4rem;
    margin-top: 4rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
