// ****************** Colors ******************
$color-primary: #3d3f94;
$color-secondary: #ea2e30;
$color-secondary-light: #f05153;

$color-primary-light: #9a9bf7;
$color-primary-light-1: rgba(156, 158, 247, 0.644);
$color-primary-light-2: rgba(154, 155, 247, 0.744);
$color-primary-light-3: rgba(154, 155, 247, 0.844);

$color-white: #fff;
$color-black: #000000;

$color-grey-1: #b7b7b7;
$color-grey-2: #838383;
$color-grey-3: #e0e0e0;
$color-grey-4: #eeeeee;
$color-grey-5: #d3d3d3;
$color-grey-6: #818181;
$color-grey-7: #f2f2f2;
$color-grey-8: #c4c4c4;
$color-grey-9: #b3b3b3;

$color-grey-dark: #333333;
$color-grey-dark-1: #d2d2d2;

$color-yellow-1: #ffc700;
$color-green-1: #10c501;
$color-green-2: #0d9e00;

// ****************** Grids ******************
$row-width: 115rem;
