*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: $color-primary-light;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
