@charset "UTF-8";
/*
Phone -- 0-600px
Tablet-portrait -- 600px-900px
Tablet-landscape -- 900px-1200px
Big-desktop -- 1800+ px

Breakpoint choices
phone
tab-port
tab-land
big-desktop

*/
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #9a9bf7;
  border-radius: 10px;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #333333;
}

.heading-primary {
  color: #3d3f94;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  -webkit-animation: slideFromTop 1s ease-out 0.4s backwards;
          animation: slideFromTop 1s ease-out 0.4s backwards;
}

.heading-1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.1rem;
  color: #333333;
}

.heading-2 {
  font-weight: bold;
  font-size: 6.5rem;
  line-height: 1%;
  color: #ea2e30;
}

.heading-3 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 120%;
}

.heading-4 {
  color: #3d3f94;
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase;
}

.heading-5 {
  font-weight: 500;
  font-size: 1.5rem;
}

.heading-6 {
  font-weight: 500;
  font-size: 1.7rem;
}

.heading-7 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.heading-8 {
  font-weight: 500;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
}

.heading-8::after {
  content: "";
  position: absolute;
  width: 78%;
  height: 1px;
  background-color: #000000;
  right: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.heading-9 {
  font-weight: 500;
  font-size: 1.2rem;
}

.heading-sub {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center;
}

.report-card__heading {
  font-weight: 400;
  font-size: 1.4rem;
}

@-webkit-keyframes mapZoomOutIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.4);
            transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes mapZoomOutIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.4);
            transform: translate(-50%, -50%) scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@-webkit-keyframes ZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes ZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

.ZoomOut {
  -webkit-animation: ZoomOut 1s ease-out 0.4s backwards;
          animation: ZoomOut 1s ease-out 0.4s backwards;
}

.slideFromTop {
  -webkit-animation: slideFromTop 1s ease-out 0.4s backwards;
          animation: slideFromTop 1s ease-out 0.4s backwards;
}

.slideFromBottom {
  -webkit-animation: slideFromBottom 1s ease-out 0.8s backwards;
          animation: slideFromBottom 1s ease-out 0.8s backwards;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 2.5rem;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.margin-top-medium {
  margin-top: 4rem;
}

.margin-top-big {
  margin-top: 8rem;
}

.centerAlign {
  text-align: center;
}

.navigation-button {
  margin-left: auto;
  display: inline-block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.navigation-button__icon {
  position: relative;
  margin-top: 0.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.navigation-button__icon, .navigation-button__icon::before, .navigation-button__icon::after {
  width: 3rem;
  height: 0.4rem;
  display: inline-block;
  background-color: #3d3f94;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.navigation-button__icon::before, .navigation-button__icon::after {
  content: "";
  position: absolute;
  right: 0;
}

.navigation-button__icon::before {
  top: -0.9rem;
}

.navigation-button__icon::after {
  top: 0.9rem;
}

.navigation-button:hover .navigation-button__icon::before {
  width: 2.4rem;
}

.navigation-button:hover .navigation-button__icon::after {
  width: 3.6rem;
}

.btn, .btn:link, .btn:visited {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.35);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.35);
}

.btn--blue {
  background-color: #3d3f94;
}

.btn--red {
  background-color: #ea2e30;
}

.btn--filter {
  background-color: #000000;
  border-radius: 3.8rem;
  padding: 1rem 2.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 1.5rem;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  -webkit-box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--filter:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
}

.btn--filter:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25);
}

.btn--filter:focus {
  outline: none;
}

.btn--map-toggler {
  padding: 0.45rem 5.5rem;
  border-radius: 4.4rem;
  border: 0.3px solid #e0e0e0;
  cursor: pointer;
  background-color: transparent;
  color: #838383;
  font-family: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn--map-toggler:not(:last-child) {
  margin-right: 2rem;
}

.btn--map-toggler:hover {
  background-color: #eeeeee;
}

.btn--map-toggler:focus {
  outline: none;
}

.btn--map-toggler--active {
  background-color: #ea2e30;
  color: #fff;
}

.btn--map-toggler--active:hover {
  background-color: #f05153;
}

.btn--button {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  text-decoration: none;
  font-family: inherit;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--button:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
}

.btn--button:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25);
}

.btn--button:focus {
  outline: none;
}

.btn--pagination {
  border: none;
  display: inline-block;
  background-color: #c4c4c4;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #fff;
}

.btn--pagination:not(:last-child) {
  margin-right: 0.6rem;
}

.btn--pagination:hover {
  background-color: #b3b3b3;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.btn--pagination-active {
  background-color: #3d3f94;
}

.btn--media {
  border: 2px solid #3d3f94;
  border-radius: 3.8rem;
  padding: 0.5rem 2.5rem;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
  color: #3d3f94;
  font-family: inherit;
  cursor: pointer;
  -webkit-box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 1.1rem rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn--media:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.3);
}

.btn--media:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.25);
}

.btn--media:focus {
  outline: none;
}

.btn--media-active {
  color: #fff;
  background-color: #3d3f94;
}

.header-seperator {
  margin-top: 13.7rem;
}

.map__data {
  height: 48rem;
  border-radius: 0.3rem;
  background-color: #eee;
  font-size: 4rem;
  padding: 3rem 0;
  position: relative;
}

.map__data p {
  color: #d2d2d2;
  line-height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.map__legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
}

.map__election-violence-data .map__legend, .map__never-situation-room .map__legend {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.map__election-violence-data .map__legend-icon, .map__never-situation-room .map__legend-icon {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.1rem;
  vertical-align: middle;
}

.map__election-violence-data .map__legend-name, .map__never-situation-room .map__legend-name {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  display: inline-block;
  vertical-align: middle;
}

.map__election-violence-data .map__legend--1 .map__legend-icon, .map__never-situation-room .map__legend--1 .map__legend-icon {
  background-color: #EB1212;
}

.map__election-violence-data .map__legend--2 .map__legend-icon, .map__never-situation-room .map__legend--2 .map__legend-icon {
  background-color: #A8413E;
}

.map__election-violence-data .map__legend--3 .map__legend-icon, .map__never-situation-room .map__legend--3 .map__legend-icon {
  background-color: #8F1A07;
}

.map__election-violence-data .map__legend--4 .map__legend-icon, .map__never-situation-room .map__legend--4 .map__legend-icon {
  background-color: #B0593A;
}

.map__election-violence-data .map__legend--5 .map__legend-icon, .map__never-situation-room .map__legend--5 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #DB6810;
}

.map__election-violence-data .map__legend--6 .map__legend-icon, .map__never-situation-room .map__legend--6 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #E6C90B;
}

.map__election-violence-data .map__legend--7 .map__legend-icon, .map__never-situation-room .map__legend--7 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #3605FA;
}

.map__election-violence-data .map__legend--8 .map__legend-icon, .map__never-situation-room .map__legend--8 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #B0593A;
}

.map__election-violence-data .map__legend--9 .map__legend-icon, .map__never-situation-room .map__legend--9 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #88AFD1;
}

.map__election-violence-data .map__legend--10 .map__legend-icon, .map__never-situation-room .map__legend--10 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #B0593A;
}

.map__election-violence-data .map__legend--11 .map__legend-icon, .map__never-situation-room .map__legend--11 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #756F6F;
}

.map__election-violence-data .map__legend [class*="map__legend--"]:not(:last-child), .map__never-situation-room .map__legend [class*="map__legend--"]:not(:last-child) {
  margin-right: 1.1rem;
}

.map__current-elections--lowest-range, .map__current-elections--highest-range {
  font-weight: 600;
  font-size: 1.6rem;
  vertical-align: middle;
  display: inline-block;
}

.map__current-elections--range-reader {
  background: -webkit-gradient(linear, left top, right top, from(#e0e0e0), to(#ea2e30));
  background: linear-gradient(90deg, #e0e0e0 0%, #ea2e30 100%);
  border-radius: 4.4rem;
  height: 2.6rem;
  width: 45%;
  margin: 0 1.5rem;
}

.map__toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

[class$="filter__label"] {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: inherit;
  margin-bottom: 0.45rem;
}

[class$="filter__input"] {
  max-width: 13rem;
  background-color: #d2d2d2;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 0.2rem;
}

[class$="filter__input"]:focus {
  outline: none;
}

.year-marker {
  padding-left: 10rem;
  padding-right: 4rem;
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[11]; */
      grid-template-columns: repeat(11, 1fr);
}

.year-marker__year {
  height: 3.5rem;
  border-right: 1px solid #d3d3d3;
  position: relative;
}

.year-marker__year:first-child {
  border-left: 1px solid #d3d3d3;
}

.year-marker__year::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 0.7px;
  background-color: #e0e0e0;
  display: block;
}

.year-marker__label {
  position: absolute;
  top: 100%;
  left: -50%;
  text-align: center;
  width: 100%;
  color: #818181;
  margin-top: 0.3rem;
}

.year-marker__active {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -2rem;
  left: -2.7rem;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year-marker__active::before, .year-marker__active::after {
  content: "";
  position: absolute;
  border-width: 0.8rem;
  border-style: solid;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.year-marker__active::before {
  border-color: transparent #ea2e30 transparent transparent;
  left: -2rem;
}

.year-marker__active::after {
  border-color: transparent transparent transparent #ea2e30;
  right: -2rem;
}

.year-marker__active:focus {
  outline: none;
}

.side-navigation-buttons {
  position: fixed;
  top: 38vh;
  right: 0;
  z-index: 999;
}

.side-navigation-buttons__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 21rem;
}

.side-navigation-buttons__list-item {
  display: inline-block;
  margin: 0.3rem 0;
  width: 100%;
}

.side-navigation-buttons__link {
  text-transform: uppercase;
  padding: 1.2rem 0.4rem 1.3rem 2.5rem;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  border-radius: 3rem 0 0 3rem;
  -webkit-transition: 1s;
  transition: 1s;
}

.side-navigation-buttons__link--1 {
  -webkit-transform: translateX(9rem);
          transform: translateX(9rem);
  background-color: #3d3f94;
}

.side-navigation-buttons__link--2 {
  -webkit-transform: translateX(5rem);
          transform: translateX(5rem);
  background-color: #ea2e30;
}

.side-navigation-buttons__link--3 {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  background-color: #000000;
}

.side-navigation-buttons__link:hover {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.request-data-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

@supports ((-webkit-backdrop-filter: blur(5px)) or (backdrop-filter: blur(5px))) {
  .request-data-popup {
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
}

.request-data-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 34%;
  border-radius: 5px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #fff;
  padding: 3rem 1.8rem;
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
}

.request-data-popup:target {
  visibility: visible;
  opacity: 1;
}

.request-data-popup:target .request-data-popup__content {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.input-group:not(:last-child) {
  margin-bottom: 1.5rem;
}

.input__label {
  font-weight: 400;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 0.35rem;
}

.input__input {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  padding: 1.2rem 1.4rem;
  border: none;
}

.input__input:focus {
  outline: none;
}

.custom-checkbox__input {
  display: none;
}

.custom-checkbox__label {
  font-weight: 400;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 3rem;
  padding-top: 0.1rem;
}

.custom-checkbox__label::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  border: 1px solid #3d3f94;
  color: #fff;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s, font-size 0.1s, -webkit-transform 0.1s;
  transition: background-color 0.3s, font-size 0.1s, -webkit-transform 0.1s;
  transition: background-color 0.3s, transform 0.1s, font-size 0.1s;
  transition: background-color 0.3s, transform 0.1s, font-size 0.1s, -webkit-transform 0.1s;
}

.custom-checkbox__input:checked + .custom-checkbox__label::before {
  background-color: #3d3f94;
  -webkit-box-shadow: 0.2rem 0.2rem 0.5rem rgba(61, 63, 148, 0.8), 0.3rem 0.3rem 0.6rem rgba(61, 63, 148, 0.4);
          box-shadow: 0.2rem 0.2rem 0.5rem rgba(61, 63, 148, 0.8), 0.3rem 0.3rem 0.6rem rgba(61, 63, 148, 0.4);
}

.custom-checkbox__input:active + .custom-checkbox__label::before {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  font-size: 1.1rem;
}

.report-card {
  background-color: #f2f2f2;
  -webkit-box-shadow: 0.7rem 0.7rem 1.5rem rgba(0, 0, 0, 0.12);
          box-shadow: 0.7rem 0.7rem 1.5rem rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.report-card::after {
  content: "";
  position: absolute;
  top: -1.5px;
  right: -1.5px;
  height: 50%;
  width: 50%;
  background-color: #3d3f94;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-top-right-radius: 0.5rem;
}

.report-card::before {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: -1.5px;
  height: 50%;
  width: 50%;
  background-color: #ea2e30;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom-left-radius: 0.5rem;
}

.report-card:hover {
  -webkit-box-shadow: 0.3rem 0.3rem 1srem rgba(0, 0, 0, 0.2);
          box-shadow: 0.3rem 0.3rem 1srem rgba(0, 0, 0, 0.2);
}

.report-card:hover::before, .report-card:hover::after {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.report-card__status {
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.03rem;
  display: block;
  margin-bottom: 2rem;
}

.report-card__status--ok {
  color: #0d9e00;
}

.report-card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3.5rem;
  font-weight: 400;
  font-size: 1.1rem;
}

.report-card__date--time {
  margin-right: 1.5rem;
}

.media-picture {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[6]; */
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

@media only screen and (max-width: 75em) {
  .media-picture {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 56.25em) {
  .media-picture {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 37.5em) {
  .media-picture {
    grid-template-columns: repeat(2, 1fr);
  }
}

.media-picture__img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.media-picture__vid {
  height: auto;
  width: 100%;
  /* -o-object-fit: cover;
     object-fit: cover; */
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3rem;
}

.pagination__one-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  max-width: 115rem;
  margin: 0 auto;
}

.center::after {
  content: "";
  display: table;
  clear: both;
}

.navigation__checkbox {
  display: none;
}

.navigation__wrapper {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#9a9bf7, #3d3f94);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  z-index: 50;
}

.navigation__checkbox:checked ~ .navigation__wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.navigation-header {
  padding: 4rem 0;
}

.navigation-header__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation-header__title {
  font-weight: 300;
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: #fff;
}

.navigation__button--close {
  margin-left: auto;
  color: #fff;
  font-size: 3rem;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation__button--close:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.top-navigation {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-main {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main__link:link, .nav-main__link:visited {
  color: #333333;
  font-size: 1.4rem;
  display: inline-block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.nav-main__link:hover, .nav-main__link:active {
  color: #3d3f94;
  text-decoration: none;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.nav-main__link:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.nav__logo {
  margin-right: 3rem;
}

.nav-filter {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-filter__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-filter__state {
  border-left: 1.5px solid #d2d2d2;
  border-right: 1.5px solid #d2d2d2;
  padding: 0 1.5rem;
  margin: 0 1.5rem;
}

.header-intro {
  position: fixed;
  height: calc(100vh - 8.8rem);
  width: 100vw;
  top: 8.8rem;
  left: 0;
}

.header-intro__map {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 85%;
  -webkit-animation-name: mapZoomOutIn;
          animation-name: mapZoomOutIn;
  -webkit-animation-duration: 01s;
          animation-duration: 01s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.header-intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.data-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data-filter__state {
  border-right: 1.5px solid #d2d2d2;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
}

.election-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.election-details__infos {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (minmax(21rem, 23rem))[3]; */
      grid-template-columns: repeat(3, minmax(21rem, 23rem));
  margin-top: 1.1rem;
}

.election-details__infos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 1.2rem;
}

.election-details__infos-texts {
  margin-left: 1.2rem;
}

.election-details__infos-texts--title {
  font-weight: 300;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.3rem;
}

.election-details__infos-texts--value {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.045rem;
  display: block;
}

.population-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* .population-data__chart {
  height: 26.7rem;
  width: 26.7rem;
  border-radius: 50%;
  border: 4rem solid #000000;
  border-top-color: currentcolor;
} */

.population-data__chart {
  height: auto
}

@media only screen and (max-width:56.25em) {
  .population-data__chart {
    width: 30rem
  }
}

@media only screen and (max-width:37.5em) {
  .population-data__chart {
    width: 20rem
  }
}

.population-data__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1rem;
  width: 400px;
}

.population-data__info--off-track-value {
  color: #3d3f94;
  font-size: 1.9rem;
  line-height: 2.1rem;
  font-weight: bold;
  display: block;
  margin-top: 0.5rem;
}

.population-data__info--population {
  -webkit-transform: translate(-15vmin, 3rem);
          transform: translate(-15vmin, 3rem);
  text-align: right;
}

.population-data__info--population-label {
  line-height: 450%;
}

.report-form {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[2]; */
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;
}

.report-form__events {
  margin-top: 5.5rem;
}

.report-form__event-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.report-form__event-category > div {
  width: 50%;
  margin-bottom: 2rem;
}

.report-form__map {
  height: 300px;
  background-color: #d3d3d3;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .report-cards {
  display: -ms-grid;
  display: grid;
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
} */

.report-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}

@media only screen and (max-width: 56.25em) {
  .report-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .report-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0;
  }
}

.report-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report-header__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.report-header__filter--search {
  margin-right: 2.5rem;
}

.report-header__filter--label {
  font-size: 1.3rem;
  text-transform: uppercase;
  vertical-align: middle;
}

.report-header__filter--input {
  max-width: 13rem;
  background-color: #d2d2d2;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 0.2rem;
}

.report-header__filter--input:focus {
  outline: none;
}

.publication-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publication-header__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.publication-header__filter--search {
  margin-right: 2.5rem;
  margin-left: 10rem;
}

.publication-header__filter--label {
  font-size: 1.3rem;
  text-transform: uppercase;
  vertical-align: middle;
}

.publication-header__filter--input {
  max-width: 13rem;
  background-color: #d2d2d2;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 0.2rem;
}

.publication-header__filter--input:focus {
  outline: none;
}

.publication-content {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[2]; */
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7rem;
}

.publication-content__publications, .publication-content__newsletters {
  display: -ms-grid;
  display: grid;
  /* -ms-grid-columns: (1fr)[4]; */
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 4rem 0 5rem;
}

.publication-content__each {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin-bottom: 2rem;
}

.footer {
  background-color: #3d3f94;
  padding: 5rem 0;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #fff;
}

.footer-content__logo-text {
  font-size: 3.5rem;
  line-height: 4.2rem;
}

.footer-content__social-handles {
  margin-left: 10rem;
  margin-right: 2.5rem;
  padding-right: 2.5rem;
  border-right: 1px solid #fff;
}

.footer-content__social-handles a {
  color: #fff;
  font-size: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: inline-block;
}

.footer-content__social-handles a:not(:last-child) {
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.footer-content__social-handles a:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
}

.footer-content__social-handles a:active {
  -webkit-transform: translateY(-0.15rem);
          transform: translateY(-0.15rem);
}

.footer-content__label {
  text-transform: uppercase;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 3rem;
  letter-spacing: 0.28rem;
}

.section-map {
  padding: 6rem 0;
}

.section-data-filter {
  padding: 6rem 0;
}

.section-year-marker {
  padding: 6rem 0 10rem;
}

.section-population-data {
  padding: 3rem 13rem 0;
}

.section-election-details {
  padding: 3rem 13rem 6rem;
}

.section-report-form {
  padding: 0 0 8rem 0;
}

.section-find-a-location {
  padding: 0 0 6rem 0;
}

.section-find-a-location__label {
  font-weight: 500;
  font-size: 1.2;
}

.section-success-message {
  position: relative;
  height: calc(100vh - 8.8rem);
  margin-top: 5rem;
}

.section-success-message > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.section-success-message h3 {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
}

.header-report {
  padding: 6rem 0;
}

.section-reports {
  padding: 0 0 6rem;
}

.section-pagination {
  margin: 2rem 0 6rem;
}

.section-media {
  padding: 0 0 6rem;
}

.article-methodology {
  padding: 6rem 0;
}

.article-methodology p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  margin-top: 0.7rem;
  font-weight: 300;
}

.article-methodology__img {
  display: block;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.article-reporter {
  padding: 6rem 0;
}

.article-reporter p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  margin-top: 0.7rem;
  font-weight: 300;
}

.article-reporter__contact {
  color: #ea2e30;
}
/*# sourceMappingURL=main.css.map */