.nav-main {
  padding: 3rem 0;
  @include flex-row-jcbetween-aicenter;

  @include responsive(phone) {
    padding: 3rem 0 1.5rem;
  }

  &__link:link,
  &__link:visited {
    color: $color-grey-dark;
    font-size: 1.4rem;
    // display: inline-block;
    transition: all 0.4s;

    margin-right: 3rem;
    margin-left: 3rem;

    @include responsive(phone) {
      margin-right: 1rem;
      margin-left: 1rem;
      display: none;
    }
  }

  &__link:hover,
  &__link:active {
    color: $color-primary;
    text-decoration: none;
    transform: translateY(-0.1rem);
  }

  &__link:active {
    transform: translateY(0);
  }

  &__link--mobile {
    display: none;
    text-align: center;
    color: $color-grey-dark;
    font-size: 1.4rem;
    transition: all 0.4s;

    @include responsive(phone) {
      display: block;
      padding: 0 0 1rem;
    }
  }
}

.nav__logo {
  // margin-right: 3rem;
}
