.navigation {
  &__checkbox {
    display: none;
  }

  &__wrapper {
    width: 100vw;
    height: 100vh;
    // background: radial-gradient($color-primary-light, $color-primary);
    background-color: $color-primary;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
    z-index: 50;
    overflow-y: scroll;

    // display: none;
    // z-index: 999;
  }

  &__checkbox:checked ~ &__wrapper {
    transform: translate(-50%, -50%) scale(1);
  }

  &-header {
    padding: 4rem 0;
    &__header {
      @include flex-row-aicenter;
    }
    &__title {
      font-weight: 300;
      font-size: 1.3rem;
      color: $color-white;
      margin-left: 2rem;
    }
  }

  &__button--close {
    margin-left: auto;
    color: $color-white;
    font-size: 4rem;
    cursor: pointer;
    vertical-align: middle;
    transition: 0.3s;
    &:hover {
      transform: rotate(360deg);
    }
  }

  &-links {
    @include flex-rowwrap;

    &__link {
      @include flex-row;
      color: $color-white;
      text-decoration: none;
      margin-bottom: 4.5rem;
      flex: 0 1 50%;

      @include responsive(tab-port) {
        &:nth-child(odd) {
          padding-right: 1rem;
        }
      }
      @include responsive(phone) {
        &:nth-child(odd) {
          padding-right: 0;
        }
        flex: 0 1 100%;
      }

      &-icon {
        font-size: 5rem;

        @include responsive(tab-land) {
          font-size: 4rem;
        }
        @include responsive(phone) {
          font-size: 3rem;
        }
      }

      &-text {
        display: inline-block;
        margin-left: 3rem;

        &--top,
        &--bottom {
          display: block;
        }
        &--top {
          font-weight: 500;
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        &--bottom {
          font-weight: 300;
          font-size: 1.4rem;
        }
      }
    }
  }

  &-footer {
    padding-bottom: 5rem;
    color: $color-white;
    &__heading {
      font-weight: 500;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__paragraph {
      font-weight: 300;
      font-size: 1.4rem;
    }
    &__cta {
      font-weight: 500;
      font-size: 2rem;
      color: $color-yellow-1;
      text-decoration: none;
    }
  }
}

.section-nav-link {
  padding: 3rem 0 1rem;
}
