.population-data {
  @include flex-row;

  &__chart {
    // height: 26.7rem;
    // width: 26.7rem;
    // border-radius: 50%;
    // border: 4rem solid $color-black;
    // border-top-color: currentcolor;
  }
  &__info {
    @include flex-column-jcbetween;
    margin-left: 1rem;
    width: 400px;

    &--off-track {
      &-value {
        color: $color-primary;
        font-size: 1.9rem;
        line-height: 2.1rem;
        font-weight: bold;
        display: block;
        margin-top: 0.5rem;
      }
    }

    &--population {
      transform: translate(-45%, 3rem);
      text-align: right;

      &-label {
        line-height: 450%;
      }
    }
  }
}
