.publication-header {
  @include flex-row-aicenter;

  &__filter {
    @include flex-row-aicenter;

    &--search {
      margin-right: 2.5rem;
      margin-left: 10rem;
    }
    &--time {
    }
    &--label {
      font-size: 1.3rem;
      text-transform: uppercase;
      vertical-align: middle;
    }
    &--input {
      max-width: 13rem;
      background-color: $color-grey-dark-1;
      padding: 1rem 1.2rem;
      border: none;
      border-radius: 0.2rem;

      &:focus {
        outline: none;
      }
    }
  }
}
