.publication-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7rem;

  &__publications,
  &__newsletters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    padding: 4rem 0 5rem;
  }
  &__newsletters {
  }
  &__each {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block;
    margin-bottom: 2rem;
  }
}
