.report-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem;

  &__events {
    margin-top: 5.5rem;
  }

  &__event-category {
    @include flex-rowwrap-jcbetween-aicenter;
    margin-top: 2rem;
    & > div {
      width: 50%;
      margin-bottom: 2rem;
    }
  }

  &__map {
    height: 300px;
    background-color: $color-grey-5;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    // @include flex-row-jccenter-aicenter;
  }
}
