﻿@import url(https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap);

*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth
}

::-webkit-scrollbar {
  background: 0 0;
  width: 6px;
  height: 8px
}

::-webkit-scrollbar-thumb {
  background-color: #9a9bf7;
  border-radius: 10px
}

html {
  font-size: 62.5%
}

body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-weight: 500;
  color: #333
}

.heading-primary {
  color: #3d3f94;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 400;
  -webkit-animation: slideFromTop 1s ease-out .4s backwards;
  animation: slideFromTop 1s ease-out .4s backwards
}

@media only screen and (max-width:28.75em) {
  .heading-primary {
    font-size: 2.5rem
  }
}

.heading-1 {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.1rem;
  color: #333
}

.heading-2 {
  font-weight: 700;
  font-size: 6.5rem;
  line-height: 1%;
  color: #ea2e30
}

.heading-3 {
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  line-height: 120%;
}

.heading-4 {
  color: #3d3f94;
  font-weight: 500;
  font-size: 2.4rem;
  text-transform: uppercase
}

.heading-5 {
  font-weight: 500;
  font-size: 1.5rem
}

.heading-6 {
  font-weight: 500;
  font-size: 1.7rem
}

.heading-7 {
  font-weight: 500;
  font-size: 1.6rem;
  text-transform: capitalize
}

.heading-8 {
  font-weight: 500;
  font-size: 1.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%
}

.heading-8::after {
  content: "";
  position: absolute;
  width: 78%;
  height: 1px;
  background-color: #000;
  right: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1
}

.heading-9 {
  font-weight: 500;
  font-size: 1.2rem
}

.heading-10 {
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff
}

.heading-11 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #fff
}

.heading-sub {
  font-weight: 300;
  font-size: 1.4rem;
  text-align: center
}

.report-card__heading {
  font-weight: 400;
  font-size: 1.4rem
}

.popup-title {
  font-weight: 500;
  font-size: 2rem;
  color: #fff
}

.paragraph-popup-card {
  font-weight: 300;
  font-size: 1.4rem;
  color: #fff
}

@-webkit-keyframes mapZoomOutIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.4);
    transform: translate(-50%, -50%) scale(1.4)
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
  }
}

@keyframes mapZoomOutIn {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, -50%) scale(1.4);
    transform: translate(-50%, -50%) scale(1.4)
  }

  100% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1)
  }
}

@-webkit-keyframes ZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes ZoomOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(1.4);
    transform: scale(1.4)
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible
  }
}

@keyframes slideFromTop {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible
  }
}

@-webkit-keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible
  }
}

@keyframes slideFromBottom {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible
  }
}

.ZoomOut {
  -webkit-animation: ZoomOut 1s ease-out .4s backwards;
  animation: ZoomOut 1s ease-out .4s backwards
}

.slideFromTop {
  -webkit-animation: slideFromTop 1s ease-out .4s backwards;
  animation: slideFromTop 1s ease-out .4s backwards
}

.slideFromBottom {
  -webkit-animation: slideFromBottom 1s ease-out .8s backwards;
  animation: slideFromBottom 1s ease-out .8s backwards
}

.margin-bottom-medium {
  margin-bottom: 4rem
}

.margin-bottom-small {
  margin-bottom: 2.5rem
}

@media only screen and (max-width:56.25em) {
  .margin-bottom-small {
    margin-bottom: 2rem
  }
}

.margin-left-0 {
  margin-left: 0 !important
}

.margin-top-medium {
  margin-top: 4rem
}

.margin-top-big {
  margin-top: 8rem
}

.margin-top-small {
  margin-top: 2.5rem
}

.centerAlign {
  text-align: center
}

.navigation-button {
  margin-left: auto;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer
}

.navigation-button__icon {
  position: relative;
  margin-top: .9rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.navigation-button__icon,
.navigation-button__icon::after,
.navigation-button__icon::before {
  width: 3rem;
  height: .4rem;
  display: inline-block;
  background-color: #3d3f94;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.navigation-button__icon::after,
.navigation-button__icon::before {
  content: "";
  position: absolute;
  right: 0
}

.navigation-button__icon::before {
  top: -.9rem
}

.navigation-button__icon::after {
  top: .9rem
}

.navigation-button:hover .navigation-button__icon::before {
  width: 2.4rem
}

.navigation-button:hover .navigation-button__icon::after {
  width: 3.6rem
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  text-decoration: none;
  font-family: inherit;
  cursor: pointer;
  text-transform: capitalize;
  -webkit-box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

@media only screen and (max-width:37.5em) {

  .btn:link:not(:last-child),
  .btn:not(:last-child),
  .btn:visited:not(:last-child) {
    margin-bottom: 1.5rem
  }
}

.btn:hover {
  -webkit-transform: translateY(-.3rem);
  -ms-transform: translateY(-.3rem);
  transform: translateY(-.3rem);
  -webkit-box-shadow: 0 .7rem 1.5rem rgba(0, 0, 0, .4);
  box-shadow: 0 .7rem 1.5rem rgba(0, 0, 0, .4)
}

.btn:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .35);
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .35)
}

.btn--blue {
  background-color: #3d3f94
}

.btn--red {
  background-color: #ea2e30
}

.btn--filter {
  background-color: #000;
  border-radius: 3.8rem;
  padding: 1rem 2.5rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-left: 1.5rem;
  display: inline-block;
  border: none;
  text-transform: capitalize;
  color: #fff;
  font-family: inherit;
  cursor: pointer;
  -webkit-box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.btn--filter:hover {
  -webkit-transform: translateY(-.2rem);
  -ms-transform: translateY(-.2rem);
  transform: translateY(-.2rem);
  -webkit-box-shadow: 0 .6rem 1.5rem rgba(0, 0, 0, .3);
  box-shadow: 0 .6rem 1.5rem rgba(0, 0, 0, .3)
}

.btn--filter:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .25);
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .25)
}

.btn--filter:focus {
  outline: 0
}

.btn--map-toggler {
  padding: .45rem 5.5rem;
  border-radius: 4.4rem;
  border: .3px solid #e0e0e0;
  cursor: pointer;
  background-color: transparent;
  color: #838383;
  font-family: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.btn--map-toggler:not(:last-child) {
  margin-right: 2rem
}

.btn--map-toggler:hover {
  background-color: #eee
}

.btn--map-toggler:focus {
  outline: 0
}

.btn--map-toggler--active {
  background-color: #ea2e30;
  color: #fff
}

.btn--map-toggler--active:hover {
  background-color: #f05153
}

.btn--button {
  display: inline-block;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  text-decoration: none;
  font-family: inherit;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.btn--button:hover {
  -webkit-transform: translateY(-.2rem);
  -ms-transform: translateY(-.2rem);
  transform: translateY(-.2rem);
  -webkit-box-shadow: 0 .6rem 1.5rem rgba(0, 0, 0, .3);
  box-shadow: 0 .6rem 1.5rem rgba(0, 0, 0, .3)
}

.btn--button:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .25);
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .25)
}

.btn--button:focus {
  outline: 0
}

.btn--pagination {
  border: none;
  display: inline-block;
  background-color: #c4c4c4;
  width: 3.6rem;
  height: 3.6rem;
  cursor: pointer;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
  color: #fff
}

.btn--pagination:not(:last-child) {
  margin-right: .6rem
}

.btn--pagination:hover {
  background-color: #b3b3b3;
  -webkit-transform: translateY(-.3rem);
  -ms-transform: translateY(-.3rem);
  transform: translateY(-.3rem)
}

.btn--pagination-active {
  background-color: #3d3f94
}

.btn--media {
  border: 2px solid #3d3f94;
  border-radius: 3.8rem;
  padding: .5rem 2.5rem;
  text-transform: capitalize;
  display: inline-block;
  cursor: pointer;
  color: #3d3f94;
  font-family: inherit;
  cursor: pointer;
  -webkit-box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  box-shadow: 0 .3rem 1.1rem rgba(0, 0, 0, .25);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}

.btn--media:hover {
  -webkit-transform: translateY(-.2rem);
  -ms-transform: translateY(-.2rem);
  transform: translateY(-.2rem);
  -webkit-box-shadow: 0 .6rem 1.5rem rgba(0, 0, 0, .3);
  box-shadow: 0 .6rem 1.5rem rgba(0, 0, 0, .3)
}

.btn--media:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .25);
  box-shadow: 0 .3rem 1rem rgba(0, 0, 0, .25)
}

.btn--media:focus {
  outline: 0
}

.btn--media-active {
  color: #fff;
  background-color: #3d3f94
}

.header-seperator {
  margin-top: 13.7rem
}

.map__data {
  height: 48rem;
  border-radius: .3rem;
  background-color: #eee;
  font-size: 4rem;
  padding: 0;
  position: relative
}

.map__data p {
  color: #d2d2d2;
  line-height: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.map__legend {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: .5rem 0
}

@media only screen and (max-width:56.25em) {
  .map__legend>* {
    margin-bottom: 1.5rem
  }
}

.map__election-violence-data .map__legend,
.map__never-situation-room .map__legend {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px
}

.custom-checkbox__dropdown {
  padding-left: 2.5rem;
  margin-top: 1rem;
  transition: .3s;
  display: none
}

.custom-checkbox__dropdown>div {
  margin-bottom: .6rem
}

.custom-checkbox__dropdown.active {
  display: block
}

.map__election-violence-data .map__legend-icon,
.map__never-situation-room .map__legend-icon {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  display: inline-block;
  margin-right: 1.1rem;
  vertical-align: middle
}

.logo_size {
  height: 70px;
  margin: 10px;
}

.map__election-violence-data .map__legend-name,
.map__never-situation-room .map__legend-name {
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: .1rem;
  display: inline-block;
  vertical-align: middle
}

.map__election-violence-data .map__legend--1 .map__legend-icon {
  background-color: #eb1212
}

.map__never-situation-room .map__legend--1 .map__legend-icon {
  background-color: #fd0105
}

.map__election-violence-data .map__legend--2 .map__legend-icon {
  background-color: #a8413e
}

.map__never-situation-room .map__legend--2 .map__legend-icon {
  background-color: #ffbf01
}

.map__election-violence-data .map__legend--3 .map__legend-icon {
  background-color: #8f1a07
}

.map__never-situation-room .map__legend--3 .map__legend-icon {
  background-color: #0fc501
}

.map__election-violence-data .map__legend--4 .map__legend-icon {
  background-color: #b0593a
}

.map__never-situation-room .map__legend--4 .map__legend-icon {
  background-color: #b7b7b7
}

.map__election-violence-data .map__legend--5 .map__legend-icon {
  background-color: #db6810;
  border: 1px solid #db6810
}

.map__never-situation-room .map__legend--5 .map__legend-icon {
  background-color: #fff;
  border: 1px solid #b7b7b7
}

.map__election-violence-data .map__legend--6 .map__legend-icon,
.map__never-situation-room .map__legend--6 .map__legend-icon {
  background-color: #e6c90b
}

.map__election-violence-data .map__legend--7 .map__legend-icon,
.map__never-situation-room .map__legend--7 .map__legend-icon {
  background-color: #3605fa
}

.map__election-violence-data .map__legend--8 .map__legend-icon,
.map__never-situation-room .map__legend--8 .map__legend-icon {
  background-color: #b0593a
}

.map__election-violence-data .map__legend--9 .map__legend-icon,
.map__never-situation-room .map__legend--9 .map__legend-icon {
  background-color: #88afd1
}

.map__election-violence-data .map__legend--10 .map__legend-icon,
.map__never-situation-room .map__legend--10 .map__legend-icon {
  background-color: #b0593a
}

.map__election-violence-data .map__legend--11 .map__legend-icon,
.map__never-situation-room .map__legend--11 .map__legend-icon {
  background-color: #756f6f
}

.map__election-violence-data .map__legend [class*=map__legend--]:not(:last-child),
.map__never-situation-room .map__legend [class*=map__legend--]:not(:last-child) {
  margin-right: 1.1rem
}

.map__current-elections--highest-range,
.map__current-elections--lowest-range {
  font-weight: 600;
  font-size: 1.6rem;
  vertical-align: middle;
  display: inline-block
}

.map__current-elections--range-reader {
  background: -webkit-gradient(linear, left top, right top, from(#e0e0e0), to(#ea2e30));
  background: -o-linear-gradient(left, #e0e0e0 0, #ea2e30 100%);
  background: linear-gradient(90deg, #e0e0e0 0, #ea2e30 100%);
  border-radius: 4.4rem;
  height: 2.6rem;
  width: 45%;
  margin: 0 1.5rem
}

.map__current-elections,
.map__never-situation-room {
  display: none
}

.map__toggler {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center
}

.nevrSituationRoom_sides {
  width: 50%
}

@media only screen and (max-width:425px) {
  .nevrSituationRoom_sides {
    width: 100%
  }
}

[class$=filter__label] {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: inherit;
  margin-bottom: .45rem
}

[class$=filter__input] {
  max-width: 13rem;
  background-color: #d2d2d2;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: .2rem;
  font-family: inherit
}

[class$=filter__input]:focus {
  outline: 0
}

.search-field {
  background-image: url(img/search.png);
  background-position: 3% 50%;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 15%
}

.date-field {
  background-image: url(img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat
}

.select-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  padding-right: 5%;
  color: inherit
}

option {
  background-color: #000;
  color: #838383
}

.year-marker {
  padding-left: 10rem;
  padding-right: 4rem;
  display: grid;
  grid-template-columns: repeat(11, 1fr)
}

@media only screen and (max-width:56.25em) {
  .year-marker {
    padding-left: 2rem;
    padding-right: 0
  }
}

@media only screen and (max-width:37.5em) {
  .year-marker {
    padding-left: 0
  }
}

@media only screen and (max-width:28.75em) {
  .year-marker {
    grid-template-columns: repeat(1, 1fr)
  }
}

.year-marker__year {
  height: 3.5rem;
  border-right: 1px solid #d3d3d3;
  position: relative
}

.year-marker__year:first-child {
  border-left: 1px solid #d3d3d3
}

.year-marker__year::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: .7px;
  background-color: #e0e0e0;
  display: block
}

@media only screen and (max-width:28.75em) {
  .year-marker__year {
    border: 1px solid #d3d3d3;
    height: 4.5rem
  }
}

.year-marker__label {
  position: absolute;
  top: 100%;
  left: -50%;
  text-align: center;
  width: 100%;
  color: #818181;
  margin-top: .3rem;
  cursor: pointer
}

@media only screen and (max-width:56.25em) {
  .year-marker__label {
    font-size: 1.3rem
  }
}

@media only screen and (max-width:37.5em) {
  .year-marker__label {
    font-size: 1.2rem
  }
}

@media only screen and (max-width:28.75em) {
  .year-marker__label {
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 45%;
    z-index: 1
  }
}

.year-marker__active {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  background-color: #f2f2f2;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
  position: absolute;
  top: -2rem;
  left: -2.7rem;
  border: none;
  cursor: pointer;
  transition: .3s;
  display: flex;
  flex-direction: row;
  align-items: center
}

@media only screen and (max-width:28.75em) {
  .year-marker__active {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }
}

.year-marker__active::after,
.year-marker__active::before {
  content: "";
  position: absolute;
  border-width: .8rem;
  border-style: solid;
  align-self: center
}

.year-marker__active::before {
  border-color: transparent #ea2e30 transparent transparent;
  left: -2rem
}

.year-marker__active::after {
  border-color: transparent transparent transparent #ea2e30;
  right: -2rem
}

.year-marker__active:focus {
  outline: 0
}

.side-navigation-buttons {
  position: fixed;
  top: 38vh;
  right: 0;
  z-index: 40;
  transition: transform .3s
}

.side-navigation-buttons__close {
  display: block;
  text-align: right;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 1rem .5rem .4rem 0;
  color: #3d3f94;
  transition: .3s
}

.side-navigation-buttons__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 21rem
}

.side-navigation-buttons__list-item {
  display: inline-block;
  margin: .3rem 0;
  width: 100%
}

.side-navigation-buttons__link {
  text-transform: uppercase;
  padding: 1.2rem .4rem 1.3rem 1.5rem;
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  display: block;
  border-radius: 3rem 0 0 3rem;
  transition: 1s;
  font-size: 1.25rem
}

.side-navigation-buttons__link--1 {
  transform: translateX(4rem);
  background-color: #ea2e30
}

.side-navigation-buttons__link--2 {
  transform: translateX(4rem);
  background-color: #3d3f94
}

.side-navigation-buttons__link--3 {
  transform: translateX(1rem);
  background-color: #000
}

.side-navigation-buttons__link:hover {
  transform: translateX(0)
}

.side-navigation-buttons.close {
  transform: translateX(100%)
}

.side-navigation-buttons__close {
  position: fixed;
  top: 30vh;
  right: 0;
  z-index: 40;
  display: block;
  text-align: right;
  margin-bottom: 1rem;
  cursor: pointer;
  padding: 1rem .5rem .4rem 0;
  color: #3d3f94;
  transition: .3s
}

.request-data-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, .8)
}

@supports (backdrop-filter:blur(5px)) {
  .request-data-popup {
    backdrop-filter: blur(5px)
  }
}

.request-data-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
  background-color: #fff;
  padding: 3rem 1.8rem;
  transform: translate(-50%, -50%) scale(.5);
  transition: .5s ease-out
}

@media only screen and (max-width:66.88em) {
  .request-data-popup__content {
    width: 55%
  }
}

@media only screen and (max-width:56.25em) {
  .request-data-popup__content {
    width: 65%
  }
}

@media only screen and (max-width:37.5em) {
  .request-data-popup__content {
    width: 80%
  }
}

@media only screen and (max-width:28.75em) {
  .request-data-popup__content {
    width: 95%
  }
}

.request-data-popup:target {
  visibility: visible;
  opacity: 1
}

.request-data-popup:target .request-data-popup__content {
  transform: translate(-50%, -50%) scale(1)
}

.request-data-popup__close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: #3d3f94;
  font-size: 3rem;
  cursor: pointer;
  vertical-align: middle;
  transition: .3s;
  text-decoration: none
}

.request-data-popup__close:hover {
  transform: rotate(360deg)
}

.input-group:not(:last-child) {
  margin-bottom: 1.5rem
}

.input__label {
  font-weight: 400;
  font-size: 1.2rem;
  display: block;
  margin-bottom: .35rem
}

.input__input {
  width: 100%;
  background-color: #f2f2f2;
  border-radius: .5rem;
  padding: 1.2rem 1.4rem;
  border: none;
  resize: none
}

.input__input:focus {
  outline: 0
}

.input__input::-webkit-input-placeholder {
  color: #b7b7b7;
  font-family: "Work Sans", sans-serif
}

.input__input::-moz-placeholder {
  color: #b7b7b7;
  font-family: "Work Sans", sans-serif
}

.input__input:-ms-input-placeholder {
  color: #b7b7b7;
  font-family: "Work Sans", sans-serif
}

.input__input::-ms-input-placeholder {
  color: #b7b7b7;
  font-family: "Work Sans", sans-serif
}

.input__input::placeholder {
  color: #b7b7b7;
  font-family: "Work Sans", sans-serif
}

.form-search-field {
  background-image: url(img/search.png);
  background-position: 3% 50%;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 15%
}

.form-date-field::-webkit-calendar-picker-indicator,
.form-date-field::-webkit-inner-spin-button {
  width: 1rem;
  margin: 0;
  cursor: pointer;
  background-image: url(img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat
}

.form-select-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  padding-right: 5%;
  color: inherit
}

option {
  background-color: #000;
  color: #fff
}

.custom-checkbox__input {
  display: none
}

.custom-checkbox__label {
  font-weight: 400;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding-left: 3rem;
  padding-top: .1rem
}

.custom-checkbox__label::before {
  content: "✔";
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: .3rem;
  border: 1px solid #3d3f94;
  color: #fff;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color .3s, font-size .1s, -webkit-transform .1s;
  transition: background-color .3s, font-size .1s, -webkit-transform .1s;
  -o-transition: background-color .3s, transform .1s, font-size .1s;
  transition: background-color .3s, transform .1s, font-size .1s;
  transition: background-color .3s, transform .1s, font-size .1s, -webkit-transform .1s
}

.custom-checkbox__input:checked+.custom-checkbox__label::before {
  background-color: #3d3f94;
  -webkit-box-shadow: .2rem .2rem .5rem rgba(61, 63, 148, .8), .3rem .3rem .6rem rgba(61, 63, 148, .4);
  box-shadow: .2rem .2rem .5rem rgba(61, 63, 148, .8), .3rem .3rem .6rem rgba(61, 63, 148, .4)
}

.custom-checkbox__input:active+.custom-checkbox__label::before {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  font-size: 1.1rem
}

.report-card {
  background-color: #f2f2f2;
  -webkit-box-shadow: .7rem .7rem 1.5rem rgba(0, 0, 0, .12);
  box-shadow: .7rem .7rem 1.5rem rgba(0, 0, 0, .12);
  border-radius: .5rem;
  padding: 1.5rem;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s
}

.report-card::after {
  content: "";
  position: absolute;
  top: -1.5px;
  right: -1.5px;
  height: 50%;
  width: 50%;
  background-color: #3d3f94;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-top-right-radius: .5rem
}

.report-card::before {
  content: "";
  position: absolute;
  bottom: -1.5px;
  left: -1.5px;
  height: 50%;
  width: 50%;
  background-color: #ea2e30;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border-bottom-left-radius: .5rem
}

.report-card:hover {
  -webkit-box-shadow: .3rem .3rem 1srem rgba(0, 0, 0, .2);
  box-shadow: .3rem .3rem 1srem rgba(0, 0, 0, .2)
}

.report-card:hover::after,
.report-card:hover::before {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03)
}

.report-card__status {
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: .03rem;
  display: block;
  margin-bottom: 2rem
}

.report-card__status--ok {
  color: #0d9e00
}

.report-card__status--red {
  color: #ea2e30
}

.report-card__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3.5rem;
  font-weight: 400;
  font-size: 1.1rem
}

.report-card__date--time {
  margin-right: 1.5rem
}

#loadMoreVideo {
  display: none
}

.media-picture {
  display: none;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem
}

@media only screen and (max-width:75em) {
  .media-picture {
    grid-template-columns: repeat(4, 1fr)
  }
}

@media only screen and (max-width:56.25em) {
  .media-picture {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media only screen and (max-width:37.5em) {
  .media-picture {
    grid-template-columns: repeat(2, 1fr)
  }
}

.media-picture__img {
  height: 100%;
  width: 100%;
  object-fit: cover
}

.media-picture__vid {
  height: 100%;
  width: 100%
}

.media-picture>a {
  display: none
}

.media-video {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  /* height: 250px; */
  grid-gap: 1rem
}

@media only screen and (max-width:75em) {
  .media-video {
    grid-template-columns: repeat(4, 1fr)
  }
}

@media only screen and (max-width:56.25em) {
  .media-video {
    grid-template-columns: repeat(3, 1fr)
  }
}

@media only screen and (max-width:37.5em) {
  .media-video {
    grid-template-columns: repeat(2, 1fr)
  }
}

.media-video>a {
  display: none
}

.media-active {
  display: grid
}

.requested-data-popop-1 {
  display: none;
  position: absolute;
  top: 20vh;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  padding: 3rem;
  z-index: 41
}

.requested-data-popop-1__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.requested-data-popop-1__close-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.requested-data-popop-1__close-btn:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg)
}

.requested-data-popop-1__datas-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 5rem 0 2.5rem
}

.requested-data-popop-1__datas {
  display: inline-block
}

.requested-data-popop-1__datas:not(:last-child) {
  margin-right: 2.5rem
}

.requested-data-popop-1__datas--stat,
.requested-data-popop-1__datas--year {
  font-size: 14px;
  color: #fff;
  display: block
}

.requested-data-popop-1__datas--stat {
  margin-bottom: 2rem
}

.requested-data-popop-1__datas--bar {
  background-color: #ffc700;
  height: 20rem;
  width: 4.5rem
}

.requested-data-popop-1__datas--year {
  margin-top: 2rem
}

.requested-data-popop-2 {
  display: none;
  position: absolute;
  width: 45rem;
  top: 20vh;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  padding: 3rem;
  z-index: 41
}

.requested-data-popop-2__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.requested-data-popop-2__close-btn {
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.requested-data-popop-2__close-btn:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg)
}

.requested-data-popop-2__region-name {
  margin: 4rem 0
}

.requested-data-popop-2__region-name-text {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  vertical-align: middle
}

.requested-data-popop-2__region-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ffc700;
  vertical-align: middle;
  display: inline-block;
  margin-right: .4rem
}

.requested-data-popop-2__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1.2rem 0
}

.requested-data-popop-2__stat-name {
  font-weight: 300;
  font-size: 1.1rem;
  color: #fff
}

.requested-data-popop-2__stat-value {
  font-size: 14px;
  color: #fff
}

.requested-data-popop-2__footer {
  margin-top: 5rem;
  font-weight: 400;
  font-size: 1.4rem;
  color: #fff
}

.requested-data-popop-2__footer--location,
.requested-data-popop-2__footer--time {
  display: block
}

.requested-data-popop-2__footer--location {
  margin-bottom: 1rem
}

.popup-name {
  margin: 0 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.popup-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem
}

.state-card {
  display: none;
  position: absolute;
  width: 35rem;
  top: 20vh;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  padding: 3rem;
  z-index: 41
}

.state-card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.state-card__title-text {
  vertical-align: middle;
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem
}

.state-card__title-icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #ea2e30;
  vertical-align: middle
}

.state-card__name {
  margin: 2.5rem 0 3.5rem
}

.state-card__stat-text,
.state-card__stat-value {
  color: #fff;
  display: block
}

.state-card__stat-text {
  font-weight: 300;
  font-size: 1.1rem
}

.state-card__stat-value {
  font-weight: 400;
  font-size: 1.4rem
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.pagination__stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 3rem
}

.pagination__one-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media only screen and (max-width:56.25em) {
  .pagination__one-step {
    margin-bottom: 2rem
  }
}

.filter-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, .8)
}

@supports (backdrop-filter:blur(5px)) {
  .filter-popup {
    backdrop-filter: blur(5px)
  }
}

.filter-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
  background-color: #fff;
  padding: 3.5rem 2rem;
  transform: translate(-50%, -50%) scale(.5);
  transition: .5s ease-out
}

@media only screen and (max-width:37.5em) {
  .filter-popup__content {
    width: 70%
  }
}

@media only screen and (max-width:28.75em) {
  .filter-popup__content {
    width: 80%
  }
}

.filter-popup:target {
  visibility: visible;
  opacity: 1
}

.filter-popup:target .filter-popup__content {
  transform: translate(-50%, -50%) scale(1)
}

.filter-popup__nav-btn {
  display: none
}

@media only screen and (max-width:66.88em) {
  .filter-popup__nav-btn {
    display: table;
    margin: 0 auto
  }
}

.filter-popup__data-btn {
  display: none
}

@media only screen and (max-width:56.25em) {
  .filter-popup__data-btn {
    display: block;
    text-align: center
  }
}

.filter-popup__close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  color: #3d3f94;
  font-size: 3rem;
  cursor: pointer;
  vertical-align: middle;
  transition: .3s;
  text-decoration: none
}

.filter-popup__close:hover {
  transform: rotate(360deg)
}

.row {
  width: 100%
}

.row::after {
  content: "";
  display: table;
  clear: both
}

.center {
  max-width: 115rem;
  margin: 0 auto
}

.center::after {
  content: "";
  display: table;
  clear: both
}

@media only screen and (max-width:75em) {
  .center {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }
}

.map_center {
  margin: auto;
  width: 100%;
  padding: 10px
}

.navigation__checkbox {
  display: none
}

.navigation__wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #3d3f94;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .8s cubic-bezier(.86, 0, .07, 1);
  -o-transition: all .8s cubic-bezier(.86, 0, .07, 1);
  transition: all .8s cubic-bezier(.86, 0, .07, 1);
  z-index: 50;
  overflow-y: scroll
}

.navigation__checkbox:checked~.navigation__wrapper {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1)
}

.navigation-header {
  padding: 4rem 0
}

.navigation-header__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.navigation-header__title {
  font-weight: 300;
  font-size: 1.3rem;
  color: #fff;
  margin-left: 2rem
}

.navigation__button--close {
  margin-left: auto;
  color: #fff;
  font-size: 4rem;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}

.navigation__button--close:hover {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg)
}

.navigation-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap
}

.navigation-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fff;
  text-decoration: none;
  margin-bottom: 4.5rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%
}

@media only screen and (max-width:56.25em) {
  .navigation-links__link:nth-child(odd) {
    padding-right: 1rem
  }
}

@media only screen and (max-width:37.5em) {
  .navigation-links__link {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
  }

  .navigation-links__link:nth-child(odd) {
    padding-right: 0
  }
}

.navigation-links__link-icon {
  font-size: 5rem
}

@media only screen and (max-width:75em) {
  .navigation-links__link-icon {
    font-size: 4rem
  }
}

@media only screen and (max-width:37.5em) {
  .navigation-links__link-icon {
    font-size: 3rem
  }
}

.navigation-links__link-text {
  display: inline-block;
  margin-left: 3rem
}

.navigation-links__link-text--bottom,
.navigation-links__link-text--top {
  display: block
}

.navigation-links__link-text--top {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem
}

.navigation-links__link-text--bottom {
  font-weight: 300;
  font-size: 1.4rem
}

.navigation-footer {
  padding-bottom: 5rem;
  color: #fff
}

.navigation-footer__heading {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1rem
}

.navigation-footer__paragraph {
  font-weight: 300;
  font-size: 1.4rem
}

.navigation-footer__cta {
  font-weight: 500;
  font-size: 2rem;
  color: #ffc700;
  text-decoration: none
}

.section-nav-link {
  padding: 3rem 0 1rem
}

.top-navigation {
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10
}

.nav-main {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

@media only screen and (max-width:37.5em) {
  .nav-main {
    padding: 3rem 0 1.5rem
  }
}

.nav-main__link:link,
.nav-main__link:visited {
  color: #333;
  font-size: 1.4rem;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
  margin-right: 3rem;
  margin-left: 3rem
}

@media only screen and (max-width:37.5em) {

  .nav-main__link:link,
  .nav-main__link:visited {
    margin-right: 1rem;
    margin-left: 1rem;
    display: none
  }
}

.nav-main__link:active,
.nav-main__link:hover {
  color: #3d3f94;
  text-decoration: none;
  -webkit-transform: translateY(-.1rem);
  -ms-transform: translateY(-.1rem);
  transform: translateY(-.1rem)
}

.nav-main__link:active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}

.nav-main__link--mobile {
  display: none;
  text-align: center;
  color: #333;
  font-size: 1.4rem;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s
}

@media only screen and (max-width:37.5em) {
  .nav-main__link--mobile {
    display: block;
    padding: 0 0 1rem
  }
}

.nav-filter {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.nav-filter__filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 150px
}

@media only screen and (max-width:66.88em) {
  .nav-filter__filters {
    display: none
  }
}

.nav-filter__election {
  border-left: 1.5px solid #d2d2d2;
  border-right: 1.5px solid #d2d2d2;
  padding: 0 1.5rem;
  margin: 0 1.5rem
}

.nav-filter__state {
  border-right: 1.5px solid #d2d2d2;
  padding: 0 1.5rem;
  margin: 0 1.5rem
}

.header-intro {
  position: fixed;
  height: calc(100vh - 8.8rem);
  width: 100vw;
  top: 8.8rem;
  left: 0
}

.header-intro__map {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation-name: mapZoomOutIn;
  animation-name: mapZoomOutIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out
}

@media only screen and (max-width:37.5em) {
  .header-intro__map {
    width: 90%
  }
}

.header-intro__map-img {
  -o-object-fit: cover;
  object-fit: cover
}

@media only screen and (max-width:37.5em) {
  .header-intro__map-img {
    width: 100%;
    height: auto
  }
}

.header-intro__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center
}

@media only screen and (max-width:56.25em) {
  .header-intro__content {
    width: 80%
  }
}

@media only screen and (max-width:37.5em) {
  .header-intro__content {
    width: 90%
  }
}

.data-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.data-filter__state {
  border-right: 1.5px solid #d2d2d2;
  padding-right: 1.5rem;
  margin-right: 1.5rem
}

@media only screen and (max-width:56.25em) {
  .data-filter {
    display: none
  }
}


.election-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end
}

@media only screen and (max-width:28.75em) {
  .election-details {
    display: flex;
    flex-direction: row;
    justify-content: center
  }
}

.election-details__infos {
  display: grid;
  grid-template-columns: repeat(3, minmax(21rem, 23rem));
  margin-top: 1.1rem
}

.election-details__infos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1.2rem
}

.election-details__infos-texts {
  margin-left: 1.2rem
}

.election-details__infos-texts--title {
  font-weight: 300;
  font-size: 1.4rem;
  display: block;
  margin-bottom: .3rem
}

.election-details__infos-texts--value {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: .045rem;
  display: block
}

@media only screen and (max-width:56.25em) {
  .election-details__infos {
    grid-template-columns: repeat(2, 1fr)
  }
}

@media only screen and (max-width:28.75em) {
  .election-details__infos {
    grid-template-columns: repeat(1, 1fr)
  }
}

/* .election-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.election-details__infos {
  display: grid;
  grid-template-columns: repeat(3, minmax(21rem, 23rem));
  margin-top: 1.1rem
}

.election-details__infos-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 1.2rem
}

.election-details__infos-texts {
  margin-left: 1.2rem
}

.election-details__infos-texts--title {
  font-weight: 300;
  font-size: 1.4rem;
  display: block;
  margin-bottom: .3rem
}

.election-details__infos-texts--value {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: .045rem;
  display: block
} */

.population-data {
  display: flex;
  flex-direction: row;
}

.population-data__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 1rem;
  width: 400px
}

.population-data__info--off-track-value {
  color: #eb2e30;
  font-size: 1.9rem;
  line-height: 2.1rem;
  font-weight: 700;
  display: block;
  margin-top: .5rem
}

.population-data__info--population {
  -webkit-transform: translate(-12%, 3rem);
  -ms-transform: translate(-12%, 3rem);
  transform: translate(-12%, 3rem);
  text-align: right
}

.population-data__info--population-label {
  line-height: 450%
}

.population-data__chart {
  height: auto;
  width: 50%;
}

@media only screen and (max-width:56.25em) {
  .population-data__chart {
    width: 30%
  }
}

@media only screen and (max-width:37.5em) {
  .population-data__chart {
    width: 20%
  }
}

@media only screen and (max-width:767px) {
  .for_mobile {
    display: block;
  }

  .for_web {
    display: none;
  }
}

.report-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4rem
}

@media only screen and (max-width:56.25em) {
  .report-form {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0
  }
}

.report-form__events {
  margin-top: 5.5rem
}

.report-form__event-category {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 2rem
}

.report-form__event-category>div {
  flex-basis: 50%;
  margin-bottom: 2rem
}

@media only screen and (max-width:28.75em) {
  .report-form__event-category>div {
    flex-basis: 100%
  }
}

.report-form__map {
  height: 300px;
  background-color: #d3d3d3;
  border-radius: .5rem;
  margin-bottom: 2rem
}

.report-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem
}

@media only screen and (max-width:56.25em) {
  .report-cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem
  }
}

@media only screen and (max-width:37.5em) {
  .report-cards {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 3rem 0
  }
}

.report-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.report-header__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.report-header__filter--search {
  margin-right: 2.5rem
}

.report-header__filter--label {
  font-size: 1.3rem;
  text-transform: uppercase;
  vertical-align: middle
}

.report-header__filter--input {
  max-width: 13rem;
  background-color: #d2d2d2;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: .2rem;
  font-family: inherit
}

.report-header__filter--input:focus {
  outline: 0
}

.report-header__filter--input-search {
  background-image: url(img/search.png);
  background-position: 3% 50%;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 10%
}

.report-header__filter--input-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  padding-right: 5%;
  color: inherit
}

.publication-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.publication-header__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.publication-header__filter--search {
  margin-right: 2.5rem;
  margin-left: 10rem
}

.publication-header__filter--label {
  font-size: 1.3rem;
  text-transform: uppercase;
  vertical-align: middle
}

.publication-header__filter--input {
  max-width: 13rem;
  background-color: #d2d2d2;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: .2rem
}

.publication-header__filter--input:focus {
  outline: 0
}

.publication-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7rem
}

.publication-content__newsletters,
.publication-content__publications {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  padding: 4rem 0 5rem
}

.publication-content__each {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  margin-bottom: 2rem
}

.footer {
  background-color: #3d3f94;
  padding: 5rem 0
}

.footer-content {
  display: flex;
  flex-flow: row wrap;
  color: #fff;
  width: 100%;
    margin: 0 auto;
}

.footer-content__logo-text {
  font-size: 3.5rem;
  line-height: 4.2rem
}

@media only screen and (max-width:37.5em) {
  .footer-content__logo-text {
    font-size: 3rem;
    line-height: 4rem
  }
}

.footer-content__social-handles {
  margin-left: 5rem;
  margin-right: 2.5rem;
  padding-right: 2.5rem;
  border-right: 1px solid #fff
}

@media only screen and (max-width:37.5em) {
  .footer-content__social-handles {
    order: 1
  }
}

.footer-content__social-handles a {
  color: #fff;
  font-size: 2rem;
  transition: .3s;
  display: inline-block
}

.footer-content__social-handles a:not(:last-child) {
  margin-right: 2rem;
  margin-bottom: 1.5rem
}

.footer-content__social-handles a:hover {
  transform: translateY(-.3rem)
}

.footer-content__social-handles a:active {
  transform: translateY(-.15rem)
}

.footer-content__label {
  text-transform: uppercase;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 3rem;
  letter-spacing: .28rem
}

@media only screen and (max-width:768px) {
  .footer-content__label {
    margin-bottom: 1.7rem
  }
}
/* 37.5em */
@media only screen and (max-width:909px) {
  .footer-content>* {
    flex: 0 0 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    padding-right: 0;
    border-right: none
  }

  .footer-content>:not(:nth-child(2)) {
    margin-bottom: 4rem
  }

  .logo_size{
    display: inline;
    margin: 10px;
  }
}

/* @media only screen and (max-width:768px) {

  .logo_size{
    display: inline;
    margin: 10px;
  }
} */

.section-map {
  padding: 6rem 0
}

.section-data-filter {
  padding: 6rem 0
}

.section-year-marker {
  padding: 6rem 0 10rem
}

.section-population-data {
  padding: 3rem 13rem 0
}

@media only screen and (max-width:56.25em) {
  .section-population-data {
    padding: 3rem 0
  }
}

.section-election-details {
  padding: 3rem 13rem 6rem
}

.section-report-form {
  padding: 0 0 8rem 0
}

.section-find-a-location {
  padding: 0 0 6rem 0
}

.section-find-a-location__label {
  font-weight: 500;
  font-size: 1.2
}

.section-success-message {
  position: relative;
  height: calc(100vh - 8.8rem);
  margin-top: 5rem
}

.section-success-message>div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center
}

.section-success-message h3 {
  margin-top: 3rem;
  margin-bottom: 3.5rem
}

.header-report {
  padding: 6rem 0
}

.section-reports {
  padding: 0 0 6rem
}

.section-pagination {
  margin: 2rem 0 6rem
}

.section-media {
  padding: 0 0 6rem
}

.article-methodology {
  padding: 6rem 0
}

.article-methodology p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  margin-top: .7rem;
  font-weight: 300
}

.article-methodology__img {
  display: block;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto
}

.article-reporter {
  padding: 6rem 0
}

.article-reporter p {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  margin-top: .7rem;
  font-weight: 300
}

.article-reporter__contact {
  color: #ea2e30
}

#subscriber_form {
  display: none
}

#subscriber_form {
  margin: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
  max-height: 1080px;
  position: fixed;
  background: rgba(70, 71, 72, .69)
}

#sub_div_form {
  width: 240px;
  height: 210px;
  margin: 0 auto;
  background: #fff;
  margin-top: 15%;
  padding: 45px;
  border: 1px solid #9e9e9e;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2)
}

#sub_div_form span {
  position: relative;
  float: right;
  font-weight: 700;
  margin-top: -40px;
  height: 15px;
  font-size: 18px;
  width: 15px;
  line-height: 15px;
  margin-right: -40px;
  border: 2px solid;
  border-radius: 90px;
  padding: 7px
}

span#kv_form_close:hover {
  color: #e0190b
}

@media screen and (max-width:440px) {
  #sub_div_form {
    width: 290px;
    padding: 35px
  }
}

.popup-p {
  color: #000;
  font-size: 12px;
  font-weight: 300
}

.report-popup {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, .8)
}

@supports (backdrop-filter:blur(5px)) {
  .report-popup {
    backdrop-filter: blur(5px)
  }
}

.report-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  border-radius: .5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
  background-color: #fff;
  padding: 3rem 1.8rem;
  transform: translate(-50%, -50%) scale(.5);
  transition: .5s ease-out
}

.report-popup.active {
  visibility: visible;
  opacity: 1
}

.report-popup.active .report-popup__content {
  transform: translate(-50%, -50%) scale(1)
}



.cssload-thecube {
	width: 43px;
	height: 43px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f7841f;
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%,
				75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%,
				100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

.jconfirm .jconfirm-holder{
  width: 50%;
  margin: 0 auto;
}

.ct-label {
  fill: #fff;
  color: #fff;
  font-size: .90rem;
  line-height: 1;
}

.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
  stroke: rgba(0, 0, 0, .9);
}