.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    border: none;
    color: $color-white;
    padding: 1.5rem 4rem;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.25);

    transition: all 0.3s;

    @include responsive(phone) {
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.7rem 1.5rem rgba($color-black, 0.4);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 0.3rem 1rem rgba($color-black, 0.35);
  }

  &--blue {
    background-color: $color-primary;
  }

  &--red {
    background-color: $color-secondary;
  }

  &--filter {
    background-color: $color-black;
    border-radius: 3.8rem;
    padding: 1rem 2.5rem;
    align-self: flex-end;
    margin-left: 1.5rem;
    display: inline-block;
    border: none;
    text-transform: capitalize;

    color: $color-white;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.25);

    transition: all 0.3s;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.6rem 1.5rem rgba($color-black, 0.3);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0.3rem 1rem rgba($color-black, 0.25);
    }
    &:focus {
      outline: none;
    }
  }

  &--map-toggler {
    padding: 0.45rem 5.5rem;
    border-radius: 4.4rem;
    border: 0.3px solid $color-grey-3;
    cursor: pointer;
    background-color: transparent;
    color: $color-grey-2;
    font-family: inherit;
    transition: 0.3s;
    &:not(:last-child) {
      margin-right: 2rem;
    }

    &:hover {
      background-color: $color-grey-4;
    }
    &:focus {
      outline: none;
    }

    &--active {
      background-color: $color-secondary;
      color: $color-white;
      &:hover {
        background-color: $color-secondary-light;
      }
    }
  }

  &--button {
    display: inline-block;
    border: none;
    color: $color-white;
    padding: 1.5rem 4rem;
    text-decoration: none;
    font-family: inherit;
    text-transform: capitalize;

    cursor: pointer;
    box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.25);

    transition: all 0.3s;
    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.6rem 1.5rem rgba($color-black, 0.3);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0.3rem 1rem rgba($color-black, 0.25);
    }
    &:focus {
      outline: none;
    }
  }

  &--pagination {
    border: none;
    display: inline-block;
    background-color: $color-grey-8;
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
    transition: 0.4s;
    color: $color-white;

    &:not(:last-child) {
      margin-right: 0.6rem;
    }

    &:hover {
      background-color: $color-grey-9;
      transform: translateY(-0.3rem);
    }

    &-active {
      background-color: $color-primary;
    }
  }

  &--media {
    border: 2px solid $color-primary;
    border-radius: 3.8rem;
    padding: 0.5rem 2.5rem;
    text-transform: capitalize;
    display: inline-block;
    cursor: pointer;
    color: $color-primary;
    font-family: inherit;
    cursor: pointer;
    box-shadow: 0 0.3rem 1.1rem rgba($color-black, 0.25);

    transition: all 0.3s;

    &:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 0.6rem 1.5rem rgba($color-black, 0.3);
    }

    &:active {
      transform: translateY(0);
      box-shadow: 0 0.3rem 1rem rgba($color-black, 0.25);
    }
    &:focus {
      outline: none;
    }
    &-active {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}
