.custom-checkbox {
  //   margin-top: 2rem;
  &__input {
    display: none;
  }
  &__label {
    font-weight: 400;
    font-size: 1.3rem;
    @include flex-row-aicenter;
    position: relative;
    cursor: pointer;
    padding-left: 3rem;
    padding-top: 0.1rem;

    &::before {
      content: "✔";
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      border-radius: 0.3rem;
      border: 1px solid $color-primary;
      color: $color-white;
      font-size: 1.3rem;
      //   padding: 0.15rem;
      @include flex-row-jccenter-aicenter;
      transition: background-color 0.3s, transform 0.1s, font-size 0.1s;
      //   background-color: red;;
    }
  }

  &__input:checked + &__label::before {
    background-color: $color-primary;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba($color-primary, 0.8),
      0.3rem 0.3rem 0.6rem rgba($color-primary, 0.4);
  }
  &__input:active + &__label::before {
    transform: scale(0.8);
    font-size: 1.1rem;
  }
}
