[class$="filter__label"] {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-family: inherit;

  margin-bottom: 0.45rem;
}

[class$="filter__input"] {
  max-width: 13rem;
  background-color: $color-grey-dark-1;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 0.2rem;
  font-family: inherit;

  &:focus {
    outline: none;
  }

  // &:focus ~ [class$="filter__label"] {
  //   font-size: 30px;
  // }
}

.search-field {
  background-image: url(../img/search.png);
  background-position: 3% 50%;
  background-size: 1.3rem 1.3rem;
  background-repeat: no-repeat;
  padding-left: 15%;
}

.date-field::-webkit-inner-spin-button,
.date-field::-webkit-calendar-picker-indicator {
  // display: none;
  // -webkit-appearance: none;
  // opacity: 0;

  // width: 1rem;
  // margin: 0;
  // cursor: pointer;
  // z-index: 999;

  // background-image: url(../../img/select-icon-2.png);
  // background-position: 95% 50%;
  // background-size: 1rem 1rem;
  // background-repeat: no-repeat;
}

.date-field {
  // padding-top: 0.8rem;
  // padding-bottom: 0.8rem;

  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

.select-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  background-image: url(../img/select-icon-2.png);
  background-position: 95% 50%;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  padding-right: 5%;

  color: inherit;
}

option {
  background-color: $color-black;
  color: $color-grey-2;
}
