.media {
  &-picture {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;

    &__img {
      height: auto;
      width: 100%;
      object-fit: cover;
    }
  }
  &-video {
  }
}
