.navigation-button {
  margin-left: auto;
  display: inline-block;
  user-select: none;
  cursor: pointer;

  &__icon {
    position: relative;
    margin-top: 0.9rem;
    user-select: none;
    &,
    &::before,
    &::after {
      width: 3rem;
      height: 0.4rem;
      display: inline-block;
      background-color: $color-primary;
      transition: all 0.3s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
    }

    &::before {
      top: -0.9rem;
    }

    &::after {
      top: 0.9rem;
    }
  }

  &:hover &__icon::before {
    width: 2.4rem;
  }

  &:hover &__icon::after {
    width: 3.6rem;
  }
}
