.report-card {
  background-color: $color-grey-7;
  box-shadow: 0.7rem 0.7rem 1.5rem rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
  padding: 1.5rem;
  position: relative;
  transition: 0.5s;

  &::after {
    content: "";
    position: absolute;
    top: -1.5px;
    right: -1.5px;
    height: 50%;
    width: 50%;
    background-color: $color-primary;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
    transition: 0.5s;
    border-top-right-radius: 0.5rem;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: -1.5px;
    left: -1.5px;
    height: 50%;
    width: 50%;
    background-color: $color-secondary;
    z-index: -1;
    clip-path: polygon(0 0, 100% 100%, 0 100%, 0 0);
    transition: 0.5s;
    border-bottom-left-radius: 0.5rem;
  }
  &:hover {
    box-shadow: 0.3rem 0.3rem 1srem rgba(0, 0, 0, 0.2);
  }
  &:hover::before,
  &:hover::after {
    transform: scale(1.03);
  }

  &__status {
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;
    display: block;
    margin-bottom: 2rem;
    &--ok {
      color: $color-green-2;
    }
  }

  &__date {
    @include flex-row-aicenter;
    margin-top: 3.5rem;
    font-weight: 400;
    font-size: 1.1rem;
    &--time {
      margin-right: 1.5rem;
    }
  }
}
