.requested-data-popop {
  &-1 {
    display: none;

    position: absolute;
    top: 20vh;
    right: 0;
    background-color: rgba($color-black, 0.9);
    padding: 3rem;
    z-index: 41;
    &__header {
      @include flex-row-jcbetween-aicenter;
    }
    &__close-btn {
      font-size: 3rem;
      cursor: pointer;
      color: $color-white;
      transition: 0.3s;
      &:hover {
        transform: rotate(360deg);
      }
    }
    &__datas-container {
      @include flex-row-aiend;
      padding: 5rem 0 2.5rem;
    }
    &__datas {
      //   flex: 0 0 2rem;
      //   @include flex-column;
      display: inline-block;
      &:not(:last-child) {
        margin-right: 2.5rem;
      }
      &--stat,
      &--year {
        font-size: 14px;
        color: $color-white;
        display: block;
      }
      &--stat {
        margin-bottom: 2rem;
      }
      &--bar {
        background-color: $color-yellow-1;
        height: 20rem;
        width: 4.5rem;
        // flex: 0 1 20rem;
        // justify-self: center;
      }
      &--year {
        margin-top: 2rem;
      }
    }
  }

  &-2 {
    display: none;

    position: absolute;
    width: 45rem;
    top: 20vh;
    right: 0;
    background-color: rgba($color-black, 0.9);
    padding: 3rem;
    z-index: 41;
    &__header {
      @include flex-row-jcbetween-aicenter;
    }
    &__close-btn {
      font-size: 3rem;
      cursor: pointer;
      color: $color-white;
      transition: 0.3s;
      &:hover {
        transform: rotate(360deg);
      }
    }
    &__region-name {
      margin: 4rem 0;

      &-text {
        font-weight: 500;
        font-size: 2rem;
        color: $color-white;
        display: inline-block;
        vertical-align: middle;
      }
    }
    &__region-icon {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $color-yellow-1;
      vertical-align: middle;
      display: inline-block;
      margin-right: 0.4rem;
    }
    &__stat {
      @include flex-row-jcbetween-aicenter;
      border-top: 1px solid $color-white;
      border-bottom: 1px solid $color-white;
      padding: 1.2rem 0;

      &-name {
        font-weight: 300;
        font-size: 1.1rem;
        color: $color-white;
      }
      &-value {
        font-size: 14px;
        color: $color-white;
      }
    }

    &__footer {
      margin-top: 5rem;
      font-weight: 400;
      font-size: 1.4rem;
      color: $color-white;
      &--location,
      &--time {
        display: block;
      }
      &--location {
        margin-bottom: 1rem;
      }
      &--time {
      }
    }
  }
}

.popup {
  &-name {
    margin: 0 6rem;
    @include flex-row-aicenter;
  }
  &-img {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }
}
