.side-navigation-buttons {
  position: fixed;
  top: 38vh;
  right: 0;
  z-index: 40;

  //   background-color: red;
  //   width: 200px;

  &__list {
    list-style: none;
    @include flex-column;
    width: 21rem;
  }

  &__list-item {
    display: inline-block;
    margin: 0.3rem 0;
    width: 100%;
  }

  &__link {
    text-transform: uppercase;
    padding: 1.2rem 0.4rem 1.3rem 2.5rem;
    text-decoration: none;
    font-weight: 300;
    color: $color-white;
    display: block;
    border-radius: 3rem 0 0 3rem;
    transition: 1s;
    &--1 {
      transform: translateX(9rem);
      background-color: $color-primary;
    }
    &--2 {
      transform: translateX(5rem);
      background-color: $color-secondary;
    }
    &--3 {
      transform: translateX(2rem);
      background-color: $color-black;
    }
    &:hover {
      transform: translateX(0);
    }
  }
}
